<!DOCTYPE html>
<html>

<head>
	<title>DigimonTCG - They are the champions</title>

	<meta charset="utf-8" />
	<meta name="description" content="DigimonTCG - They are the champions" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/static/css/minireset.min.css">
	<link rel="stylesheet" href="/static/css/digimontcg.css">
</head>

<body>
	<header>
		<section>
			<header class="hero-text">
				<h1>Digimon TCG Online Database</h1>
				<h2>An unofficial API for the Digimon Trading Card Game</h2>
			</header>
			<div class="hero-image">
				<!-- Credit: MikotoAzure on DeviantArt -->
				<!-- https://www.deviantart.com/mikotoazure/art/DGMN-Diaboromon-720055872 -->
				<img src="/static/img/diaboromon.jpg" alt="Diaboromon Artwork" />
			</div>
		</section>
	</header>

	<main>
		<section>
			<header>
				<p>Your digital gate for digimon card information</p>
			</header>
			<div>
				<p><b>From Alphamon to Zubamon</b>, all digimon cards in the English format (Ver.1.0 to Draconic Roar) are available, including alternate artwork.</p>
				<div class="side-by-side-images">
					<img src="/static/img/diaboromon_ex1.webp" />
					<img src="/static/img/diaboromon_ex1_alt.webp" />
				</div>
			</div>
		</section>
	
		<section>
			<header>
				<p>Get access to card names, details, and alternate artwork</p>
			</header>
			<div>
				<p>Includes basic card info as well as effects, digivolution requirements, and other useful info.</p>
				<p>Links to high resolution artwork (including alternate art) is included for each card.</p>
				<p>This project can be used as the basis for other Digimon TCG related projects.</p>
			</div>
		</section>
	</main>

	<footer>
		<section>
			<header>
				<p>Project info</p>
			</header>
			<div>
				<p><a href="/api/v1">Visit the API docs</a> to get started!</p>
				<p>The source code for this project can be found on <a href="https://github.com/theandrew168/digimontcg">GitHub</a></p>
				<p>This website is not produced, endorsed, supported, or affiliated with Bandai Co., Ltd.</p>
			</div>
		</section>
	</footer>
</body>
</html>
