{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'digimontcg/css/minireset.min.css' %}">
    <link rel="stylesheet" href="{% static 'digimontcg/css/digimontcg.css' %}">
</head>

<body>
    <header>
        <div>
            <h1>Digimon TCG Online Reference</h1>
            <h2>An unofficial API for the Digimon Trading Card Game</h2>
        </div>
        <div class="full-height">
            <!-- Credit: MikotoAzure on DeviantArt -->
            <!-- https://www.deviantart.com/mikotoazure/art/DGMN-Diaboromon-720055872 -->
            <img src="{% static 'digimontcg/img/diaboromon.jpg' %}" alt="Diaboromon Artwork" />
        </div>
    </header>

    <main>
        <section>
            <header>The most comprehensive dataset you can find</header>
            <div>
                <p>Includes all cards in the English format from Ver.1.0 to Draconic Roar, as well as promotional cards.</p>
            </div>
        </section>
    
        <section>
            <header>Get access to card names, details, and alternate artwork</header>
            <div>
                <p>Includes all cards in the English format from Ver.1.0 to Draconic Roar, as well as promotional cards.</p>
            </div>
        </section>
    </main>

    <footer>
        This website is not produced, endorsed, supported, or affiliated with Bandai Co., Ltd.
    </footer>
</body>
</html>
