[Unit]
Description=digimontcg
Documentation=https://github.com/theandrew168/digimontcg
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
Restart=on-failure
RestartSec=5
User=digimontcg
Group=digimontcg
ExecStart=/usr/bin/digimontcg

[Install]
WantedBy=multi-user.target
