[Unit]
Description=digimontcg
Documentation=https://github.com/theandrew168/digimontcg
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=digimontcg
Group=digimontcg
ExecStartPre=/opt/digimontcg/digimontcg.pyz collectstatic --no-input
ExecStartPre=/opt/digimontcg/digimontcg.pyz migrate --no-input
ExecStart=/opt/digimontcg/digimontcg.pyz prodserver

[Install]
WantedBy=multi-user.target
