[Unit]
Description=digimontcg
Documentation=https://github.com/theandrew168/digimontcg
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5

User=digimontcg
Group=digimontcg

Environment=CONF=/etc/digimontcg.conf
ExecStartPre=/usr/bin/digimontcg.pyz migrate --no-input
ExecStartPre=/usr/bin/digimontcg.pyz collectstatic --no-input
ExecStart=/usr/bin/digimontcg.pyz prodserver

[Install]
WantedBy=multi-user.target
